<h3>{{viewTitle}}</h3>

<form action="/student" method="POST" autocomplete="off">
    <div class="form-group">
        <label>full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6"> 
           <label>Mobile</label>
           <input type="text" class="form-control" name="mobile" placeholder="Mobile"> 
        </div>
        <div class="form-group col-md-6"> 
           <label>Roll</label>
           <input type="text" class="form-control" name="roll" placeholder="Roll"> 
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>submit</button>
    </div>
</form>